<ion-menu side="start" contentId="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home" button="true">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Inicio
      </ion-item>
      <ion-item href="/datos" button="true">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        Tus Datos
      </ion-item>
      <ion-item href="/scan" button="true">
        <ion-icon name="barcode" slot="start"></ion-icon>        
        Escaneo
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div id="menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

