<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" contextmenu="Regresar" defaultHref="/logeado"></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dorian Astudillo</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Email:</ion-label>
        
        <ion-icon name="pencil" slot="end"></ion-icon>
        <ion-text>email&#64;iplacex.cl</ion-text>

      </ion-item>

      <ion-item>
        <ion-label>Foto Perfil:</ion-label>
        <ion-icon name="pencil" slot="end"></ion-icon>
        <ion-avatar slot="start">
          <!--<img [src]="user.profilePic" />-->
          <img src="../assets/img/stan.png">

        </ion-avatar>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
